body { 
    padding: 0;
    margin: 0;
}

.nav-poster {
    max-width: 100%;
    background-color: #005bbb;
    border-radius: 10px;
    height: 4rem;
    padding: 0.5rem 0rem 0rem 1rem ;
    margin: 0.5rem 0.7rem 0.5rem 0.7rem ;
    text-align: center;
    color: white;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #41b6e6;
    margin: 24px;
  }

.columns-container {
    text-align: center;
    border: 1.9px solid #41b6e6;
    border-radius: 10px;
    max-width: 100%;
    margin: 0rem 0.7rem 0rem 0.7rem;
    height: calc(100vh - 6rem);
}

.intro {
    max-width: 100%;
    /* background-color: #41b6e6; */
    border: 1px dotted #41b6e6;
    border-radius: 10px;
    margin: 0.7rem 0rem 0rem 0.7rem;
    height: 30vh;
    /* color: white; */
}

.methods {
    max-width: 100%;
    /* background-color: #41b6e6; */
    border: 1px dotted #41b6e6;
    border-radius: 10px;
    margin: 0.7rem 0rem 0rem 0.7rem;
    height: 50vh;
    /* color: white; */
}

.door-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 67vh;
}

.record {
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    max-width: 100%;
    /* background-color: #41b6e6; */
    border-radius: 10px;
    margin: 0.7rem 0rem 0rem 0rem;
    height: 15vh;
    border: 1px dotted #41b6e6;
    /* color: white; */
}

.data-analysis {
    max-width: 100%;
    /* background-color: #41b6e6; */
    border-radius: 10px;
    margin: 0.7rem 0.7rem 0rem 0rem;
    height: 50vh;
    border: 1px dotted #41b6e6;
    /* color: white; */
}

.conclusion {
    max-width: 100%;
    /* background-color: #41b6e6; */
    border-radius: 10px;
    margin: 0.7rem 0.7rem 0rem 0rem;
    height: 30vh;
    border: 1px dotted #41b6e6;
    /* color: white; */
}